{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Football T-Shirt Shop</title>
    <link rel="stylesheet" type="text/css" href="{% static 'shirtapp/css/about.css' %}">
</head>
<body>
    <section id="about-us">
        <h1>About Us</h1>
        <p>Welcome to Football T-Shirt Shop, your premier destination for high-quality football-themed apparel. We are passionate about the beautiful game and are dedicated to bringing you the best selection of football t-shirts, jerseys, and accessories to help you support your favorite teams in style.</p>

        <p>Our mission is to provide football fans with top-notch products that celebrate the sport we all love. Whether you're cheering for your local team or following international giants, we have a diverse range of designs and options to suit your tastes.</p>

        <p>What sets us apart:</p>
        <ul>
            <li>Extensive Selection: We offer a wide variety of football t-shirts featuring popular teams, players, and iconic moments in football history.</li>
            <li>Quality Guarantee: Our products are made from premium materials, ensuring both comfort and durability.</li>
            <li>Worldwide Shipping: We ship our products worldwide, so football enthusiasts from all corners of the globe can enjoy our offerings.</li>
            <li>Customer Satisfaction: We take pride in our exceptional customer service and aim to make your shopping experience as smooth as a well-placed penalty kick.</li>
        </ul>

        <p>Thank you for choosing Football T-Shirt Shop as your source for football apparel. We look forward to serving you and helping you showcase your love for the beautiful game. Feel free to explore our website, and if you have any questions or feedback, please don't hesitate to contact us.</p>
    </section>
</body>
</html>
<div class="center-content">
<a href="{% url 'base' %}" class="button">Home page</a>
    </div>