{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buy Form</title>
    <link rel="stylesheet" type="text/css" href="{% static 'shirtapp/css/buy.css' %}">
</head>
<body>
<div class="center-content">
    <h1>Making an order</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-outline-success">Submit</button>
    </form>
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
    <a href="{% url 'base' %}" class="button">Home page</a>
</div>
</body>
</html>




